.bookings {
  padding: 40px 12%;
}
.bookingTable {
  width: 100%;
}
.tableHeader {
  background: var(--pink);
  color: white;
}
.tableHeader td {
  padding: 10px;
  font-weight: bold;
}
.bookingTable tr {
  padding: 20px;
}
.tableRow td {
  padding: 10px;
  font-weight: bold;
  background: rgba(128, 0, 128, 0.288);
}
.actions a {
  text-decoration: underline;
  margin-left: 10px;
  font-weight: bold;
  transition: all ease-in-out 200ms;
}
.actions a:hover {
  color: var(--pink);
}
