.authentication-page {
    display: flex;
}

.authentication-page svg {
    position: absolute;
    font-size: 16px;
    top: 15px;
    left: 10px;
    height: 30px;
    width: 30px;
}

.authentication-page>div {
    width: 50%;
    height: 100vh;
}

.authentication-container {
    max-width: 40vw;
    margin: 0 auto;
    text-align: center;
}

.authentication-container>p {
    font-size: 14px;
    font-weight: 600;
    color: rgb(119, 119, 119);
}

.authentication-container>p>span {
    color: var(--pink);
}

.logo-link img {
    width: 6vw;
}


.authentication-page .swiper {
    height: 100vh;
}

.form-wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    margin: 0 auto;
}

.form-container {
    text-align: center;
    width: 100%;

}

.form-container h2,
.form-container p {
    text-align: left;
    text-align: center !important;
    margin: 0 0 15px 0;
}


.form-container h2 {
    /* color: var(--pink); */
    background: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
    color: transparent;
}

.form-container p {
    color: rgb(102, 102, 102);
}

.form-container>button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgb(205, 204, 204);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    height: 45px;
}

.form-container>button:hover {
    background: linear-gradient(to right, var(--pink), var(--purple));
    color: white;

}


.form-container button img {
    width: 28px;
}


.fa-google {
    color: #ffcae5;
    font-size: 24px;
    transition: all 200ms ease-in-out;
    translate: 153% 0;
    opacity: 0;
}

.form-container>button:hover .fa-google {
    opacity: 1;
}


.or-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 25px 0;

}

.straight-line {
    width: 100%;
    height: 2px;
    background-color: #e320856b;
}

.form {
    display: flex;
    flex-direction: column;
}

.forgot-pass {
    margin-top: 0;
}

.swal2-modal {
    background: #FDE2EB;
    border-radius: 10px;
}

.swal2-modal h2 {
    color: var(--purple) !important;
}

.swal2-modal label {
    translate: -100% 0;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
}

.swal2-modal input {
    border: none;
    outline: none;
    background-color: #962986cb;
    transition: all 0.2s ease-in-out;
    margin-top: 4px;
}


.swal2-modal input:focus {
    border: none;
    box-shadow: none;
    background-color: white;
}

.swal2-modal input::placeholder {
    color: white;
    font-size: 16px;
}

.swal2-modal .swal2-confirm {
    margin-top: 0;
}

.form button {
    width: 100%;
    padding: 10px 0px;
    margin-top: 20px;
    border: none;
    outline: none;
}

.floating-label {
    position: relative;
    margin-bottom: 8px;
}

/* Style for the input field */
.floating-label input {
    width: 100%;
    padding: 0 20px;
    height: 45px;
    border: 1px solid #ccc;
    border: none;
    outline: none;
    font-size: 16px;
    /* border: 1px solid rgba(227, 32, 133, 0.274); */
    margin-bottom: 10px;
    background-color: rgba(227, 32, 133, 0.08);
    border-radius: 10px;

}

.floating-label input[type=number]::-webkit-outer-spin-button,
.floating-label input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.floating-label input:focus,
.floating-label input:not(:placeholder-shown) {
    outline: 2px solid rgba(227, 32, 133, 0.5);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(255, 92, 176, 0.7);
}

/* Style for the label */
.floating-label label {
    position: absolute;
    left: 20px;
    top: 15px;
    pointer-events: none;
    font-size: 14px;
    font-weight: 600;
    color: rgba(104, 42, 120, 0.8);
    transition: all 0.2s ease-in-out;

}

.floating-label input:focus+label,
.floating-label input:valid+label,
.floating-label input:not(:placeholder-shown)+label {
    top: -9px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(104, 42, 120, 0.9);
    width: fit-content;
    background-color: white;
    padding: 0 4px;
}

.remember-me-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 10px 0;
    align-items: center;
}

.remember-me-section>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-me-label {
    color: var(--purple) !important;
    font-size: 14px;
    font-weight: 500;
}

.remember-me-section input {
    accent-color: var(--pink);
    mix-blend-mode: multiply;
}

.forgot-pass {
    color: var(--purple) !important;
    font-size: 14px;
    font-weight: 500;
}

.remember-me-label input {
    background-color: aqua;
}

.remember-me-label input:checked {
    background-color: black;
    border: 2px solid pink !important;

}

.form button {
    background: linear-gradient(to right, var(--pink), var(--purple));
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    border-radius: 10px;
    margin-top: 0;
}