.bookingDialog {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc; /* Add border if desired */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
    z-index: 1000; /* Ensure the modal is above other elements */
    width: 400px;
    height: 400px;
  }
  .modalTop{
    display: flex;
    justify-content: space-between;
  }
  .modalTop button{
    padding: 10px;
    background: var(--purple);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
  }