.page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title a{
    margin-right: 20px;
    padding: 10px;
    border: 1px solid var(--purple);
    color: var(--purple);
    transition: all ease-in-out 200ms;
}
.page-title a:hover{
    border: 1px solid var(--pink);
    color: white;
    background-color: var(--pink) ;
}

.allProducts{
    padding: 20px;
}
.product-table{
    width: 100%;
    margin-top: 30px;
}
.th td{
    background-color: var(--purple);
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.tr td{
    border: 1px solid black;
    padding: 10px;
}
.table-img{
    display: flex;
    align-items: center;
}
.table-img img{
    width: 40px;
    margin-right: 10px;
}
.edit{
    margin-right: 6px;
    font-size: 18px;
    transition: all ease-in-out 200ms;
}
.delete{
    margin-right: 6px;
    font-size: 18px;
    transition: all ease-in-out 200ms;
}
.action{
    display: flex;
    align-items: center;
}   
.edit:hover{
    color: var(--pink);
}   
.delete:hover{
    color: var(--pink);
}
.invoice{
    background-color: #000;
    padding: 8px;
    color: white;
    margin-right: 6px;
    border-radius: 6px;
    transition: all ease-in-out 200ms;
}   
.invoice:hover{
    background-color: var(--pink);
}   