.choose-time-container {
  margin-block: 30px;
}

.choose-time-container h4 {
  margin-top: 10px;
  font-size: 18px;
}

.time-block-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px 30px;
}

.time-block-container > span {
  border: 1px solid hsl(335, 100%, 65%, 0.2);
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}

.time-block-container > span > span {
  margin-right: 3px;
  color: black;
}

.time-block-container > span:hover {
  background: hsl(335, 100%, 45%, 0.1);
  color: var(--purple);
  border: none;
}
