.cartSlider {
  position: absolute;
  right: -30%;
  top: 50%;
  translate: 0 -50%;
  height: 95vh;
  background: rgb(255, 255, 255);
  width: 28%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  padding: 10px;
}
.showCart {
  right: 10px;
}
/* .hideCart {
  top: 0;
  right: -1000px;
} */

.cartSliderTop {
  margin: 15px;
}
.cartSliderTop img {
  position: absolute;
  top: 0;
  left: -45px;
  border-radius: 50%;
  width: 35px;
  background: none;
  height: 35px;
  color: var(--pink);
  padding: 10px;
  display: grid;
  place-items: center;
}
.cartSliderTop p {
  color: var(--purple);
  font-weight: bold;
  font-size: 16px;
}
.cartSliderItems {
  padding: 10px;
  height: 60vh;
  overflow-y: scroll;
}
.cartSliderItem {
  background: white;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  display: flex;
  gap: 20px;
  font-weight: bold;
}
.cartSliderItem img {
  width: 60px;
  border-radius: 8px;
}
.cartSliderItems button {
  background: transparent;
  cursor: pointer;
}
.cartSliderItem-price {
  color: var(--pink);
}
.cartSliderBottom {
  padding: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cartSliderBottom button {
  background: var(--pink);
  padding: 10px;
  color: white;
  margin-top: 10px;
  border-radius: 6px;
  width: 40%;
}
