.services{
    padding: 0px 12%;
}
.servicesBanner{
    background: url('../../assets/Images/Banner/service-pamper-me-banner.jpg');
    border-radius: 20px 20px 0 0;
    height: 44vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    margin: 40px auto;
}

.service-container .serviceCard{
    width: auto ;
}