.services{
    padding: 20px 12%;
}
.serviceBanner{
    width: 100%;
    border-radius: 20px;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 40px 0;
}
.filter-container{
    height: 90vh;
    background: #FCDCE7;
    margin: 40px 20px;
    border-radius: 10px;
    padding: 20px;
    position: sticky;
    top: 20px;
    width: 30%;
}
.filterCategory{

}
.filterCategory button{
    display: block; 
    background: transparent;
    padding: 10px;
    font-size: 18px;
}

.filterCategory p{
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.filterPrice{

}

.filterPrice input{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 300px;
}

.filterPrice p{
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.filterBtn{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 320px;
    background: var(--pink);
    color: white;
    transition: all ease-in-out 200ms;
}
.filterBtn:hover{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 320px;
    background: var(--purple);
    color: white;
}