.services {
  padding: 0px 12%;
}
.servicesBanner {
  background: url("../../assets/Images/Banner/service-pamper-me-banner.jpg");
  border-radius: 20px 20px 0 0;
  height: 44vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 50px;
  margin: 40px 0;
}

.service-images {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
}

.service-images div {
  background-color: rgba(255, 255, 255, 0.393);
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .services {
    padding: 0px 6%;
  }
}
