.products {
  background-image: url("../../assets/Images/Banner/ty2-lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height:77vh;
}
.products h2 {
  padding: 30px 0 0;
  background: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  width: fit-content;
  color: transparent;
  font-size: 35px;
  margin: 0 auto;
}

.home-products-container {
  width: 76%;
  margin: 60px auto 0;
}

.home-products-container .swiper {
  padding-bottom: 60px;
}

.products span {
  color: white;
}

.all-product-btn {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
  cursor: pointer;
  background-color: transparent;
}

.all-product-btn a {
  color: #962986;
  font-weight: 700;
}

.all-product-btn a:hover {
  color: var(--pink);
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
