.products{
    padding: 20px 12%;
    /* background: #e3208528; */
    background-image: url('../../assets/Images/Banner/ty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    background: #ffffffa4;
    color: #e32085;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}
.home-products-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}
.products a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: #e32085;
    margin-top: 60px;
    font-size: 18px;
    font-weight: bold;
    transition: all ease-in-out 200ms;
}
.products a:hover{
    color: #962986;
}