.choose-us-section {
    padding: 80px 12%;
    margin-top: 40px;
    background:url("../../assets/Images/chooseUs/choose-us-banner.png");
    background-repeat: no-repeat;
    background-position:108% ;
    background-size: contain;
    display: flex;
}

.choose-us-section h2 {
    margin: 20px 0;
    height: 50px;
    font-size: 45px;
    background:linear-gradient(to right, var(--pink), var(--purple));
    background-clip: text;
    width: fit-content;
    color: transparent;
}

.choose-us-section div{
    width: 55vw;
}

.choose-us-section>div>p{
    color: darkgray;
    line-height: 35px;
}

.choose-us-section>img {
    display: block;
    width: 30%;
    border-radius: 30px;
}
.icons-container{
    display: flex;
    margin-top: 40px;
    gap: 40px;
}

.icons-container div{
    text-align: center;
    width: 25%;
}

.icons-container img{
   width: 78px;
}

.icon-counts{
    font-size: 56px;
    font-weight: 500;
}


