.choose-us-section {
    margin-bottom: 80px;
    margin-top: 80px;
    padding: 0 12%;
    display: flex;
}

.choose-us-section h2 {
    margin: 20px 0;
    height: 45px;
    font-size: 35px;
    background:linear-gradient(to right, var(--pink), var(--purple));
    background-clip: text;
    width: fit-content;
    color: transparent;
}

.choose-us-section>div>p{
    width: 80%;
    color: darkgray;
    line-height: 25px;
}

.choose-us-section img {
    display: block;
    width: 30%;
    border-radius: 30px;
}
.icons-container{
    display: flex;
    margin-top: 40px;
    gap: 40px;
}
.icons-container img{
   width: 60px;
}


