.addProduct{
    padding: 20px;
}
.addProduct-header{
    display: flex;
    justify-content: space-between;
}
.addProduct-header button{
    padding: 20px;
    margin-right: 20px;
    width: 150px;
    height: 60px;
    background: var(--purple);
    color: white;
    font-weight: bold;
    transition: all ease-in-out 200ms;
}
.addProduct-header button:hover{
   background: var(--pink);
}
.addProduct h1,.addProduct h2{
    padding: 20px;
}
.add-form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
}
.add-form input,.add-form textarea,.add-form select{
    margin: 20px;
    padding: 10px;
    height: fit-content;
}
.add-image{
    margin: 20px;
    display: flex;
    gap: 20px;
    font-weight: bold;
}
.img-preview{
    height: 25vh;
    width: 25vh;
    position: relative;
}
.img-preview input{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 10;
}
.img-preview img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
}
.add-image button{
    background: var(--purple);
    color: white;
    width: 25vh;
    height: 25vh;
    font-weight: bold;
    font-size: 24px;
    transition: all ease-in-out 200ms;
}
.add-image button:hover{
    background: var(--pink);
}