.services{
    padding: 60px 12%;
}
.home-services-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}
.services a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 60px;
    font-size: 18px;
    font-weight: bold;
    transition: all ease-in-out 200ms;
}
.services a:hover{
    color: #e32085;
}