.service-details{
    padding: 4% 12%;
}
.service-details-container{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.img-container img{
    margin: 40px 20px ;
    width: 400px;
    border-radius: 90px 120px 60px 180px;
}
.details{

}
.details h1{
    color: var(--pink);
}
.category{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.description{
    margin-bottom: 20px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.61);
}
.duration{
    font-weight: bold;
}
.price{
    font-weight: bold;
    color: var(--purple);
}
.book-btn{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--pink);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all ease-in-out 200ms;
}
.book-btn:hover{
    background-color: var(--purple);
}