.service-details-container {
  width: 70%;
  margin: 100px auto;
}

.service-details-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.service-img-container {
  display: flex;
  gap: 20px;
}

.service-img-container .images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.service-img-container .images img {
  height: 125px;
}

.service-img-container > img {
  height: 515px;
}

.service-img-container .selected-image {
  border: 1px solid black;
}

.serviceDetails {
  display: flex;
  flex-direction: column;
}

.service-details-category {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.service-details-description {
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.808);
}
.serviceSteps {
  /* margin: 20px 10%; */
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.61);
  margin-top: 10px;
}

.service-price {
  font-weight: 500;
  color: var(--purple);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.service-details-container .service-rating {
  margin: 10px 0 20px;
}

.service-details-container .fa-star-o,
.service-details-container .fa-star {
  font-size: 16px;
  color: #e32085;
}

.service-details-content .booknow-btn{
  width: 200px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--purple);
  color: white;
  border-radius: 5px;
} 

.service-details-content .share {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.service-details-content .share p{
  font-weight: 500;
}

.service-details-content .share div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-details-content .share button{
  background: var(--lightPink);
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}
