.shopProducts{
    padding: 0px 12%;
}
.shopProductBanner{
    background: url('../../assets/Images/Banner/service-pamper-me-banner.jpg');
    border-radius: 20px 20px 0 0;
    height: 44vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.shopProduct-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.shopProduct-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 40px 0;
}
.filter-container{
    height: 90vh;
    background: #FCDCE7;
    margin: 40px 20px;
    border-radius: 10px;
    padding: 30px 20px;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 300px; */
}
.filterCategory{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}
.hr{
   height: 1px;
   width: 80%;
   background: var(--pink);
   margin-left: 10px;
}
.filterCategory button{
    display: block; 
    background: transparent;
    padding: 10px;
    font-size: 18px;
    transition: all ease-in-out 200ms;
}
.filterCategory button:hover{
    color: var(--pink);
}

.filterCategory p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 20px;
}

.filterPrice{
 background: #fff;
 padding: 20px;
 border-radius: 10px;    
 margin-top: 20px;
 width: 80%;
}

.filterPrice input{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 80%;
    background: #96298617;
}

.filterPrice p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 20px;
}

.filterBtn{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 90%;
    background: var(--pink);
    color: white;
    transition: all ease-in-out 200ms;
    margin-top: 20px;
}
.filterBtn:hover{
    background: var(--purple);
}

@media screen and (max-width:1860px) {
    .shopProduct-container{
        grid-template-columns: repeat(2,1fr);
    }

    .shopProduct-grid{
        grid-template-columns: 1fr 2fr;
    }
    
}