.productCard {
  display: flex;
  flex-direction: column;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background: white;
  transition: all 0.3s ease-in-out;
}
.width-350{
  width: 350px;
}
.product-border{
  box-shadow: 0px 0px 10px #e3208556;
}

.productCard:hover{
  box-shadow: 0 0 20px #e3208564;

}

.productCard img {
  /* width: 150px; */
  height: 200px;
  margin: 0px auto;
}

.product-title {
  font-weight: bold;
  font-size: 16px !important;
  height: 40px;
}

.product-category {
  color: #962986;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-desc {
  height: 55px;
  font-size: 14px;
  color: rgb(111, 111, 111);
}

.price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.cart-btn {
  background: #962986;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 15px;
  transition: all ease-in-out 200ms;
  border-radius: 8px;
}

.cart-btn:hover {
  background: #e32085;
}