.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  align-items: center;
}

.nav-menu a {
  color: black;
  transition: all ease-in-out 200ms;
  font-size: 1vw;
  font-weight: 600;
}

.nav-menu a:hover {
  color: #e32085;
}

.bag {
  position: relative;
}

.badge {
  position: absolute;
  bottom: 10px;
  right: -6px;
  background: #e32085;
  border-radius: 50%;
  padding: 2px 5px;
  padding-bottom: 6px;
  color: white;
  font-size: small;
}

.w-6 {
  width: 24px;
}

.h-6 {
  height: 24px;
}



.relative {
  position: relative;
}

.userName {
  color: white;
  margin-top: 10px;
}



.logout {
  background: #e32085;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  font-weight: bolder;
  margin-top: 10px;
}

.logout:hover {
  background: white;
}

.allNav {
  margin: 20px 0;
  justify-content: end;
  padding: 20px 12%;
}

.serviceLogo {
  position: absolute;
  left: 12%;
  width: 80px;
  cursor: pointer;
}

.login {
  transition: all 0.3s ease-in-out;
  color: #0000009f;
  &:hover {
    color: #e32085;
  }
}

.user-button {
  background: transparent;
  background-color: hsl(329, 78%, 90%);
  padding: 5px 10px;
  border-radius: 2em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.default-user-button-img{

height: 36px;
display: grid;
place-items: center;
font-size: 18px;
color: var(--purple);
font-weight: 700;
}

.user-button-img,.default-user-button-img{
width: 36px;
height: 36px;
border-radius: 50%;
background-color: hsl(329, 78%, 82%);
padding: 2px;
transition: all 0.3s ease-in-out;
}


.user-button-displayName{
  font-weight: 600;
  color: #630054;
  /* margin-right: 5px; */
  transition: all 0.3s ease-in-out;
}

.user-button:hover {
  background-color: hsl(329, 78%, 95%);
}

.user-button:hover .user-button-img {
  background-color: hsl(329, 78%, 90%) !important;
}

.user-button:hover .user-button-displayName {
  color: #9c288b;
}

@media (width < 1400px) {
  .serviceLogo {
    left: 6%;
  }
  .allNav {
    margin: 10px 0;
    padding: 20px 6%;
  }
}
