.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}
.nav-menu a {
  color: black;
  transition: all ease-in-out 200ms;
  font-size: 1vw;
}
.nav-menu a:hover {
  color: #e32085;
}
.bag {
  position: relative;
}
.badge {
  position: absolute;
  bottom: 10px;
  right: -6px;
  background: #e32085;
  border-radius: 50%;
  padding: 2px 5px;
  color: white;
  font-size: small;
}
.w-6 {
  width: 24px;
}
.h-6 {
  height: 24px;
}
.dashboardLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.profile {
  position: absolute;
  z-index: 10;
  right: -90px;
  width: 170px;
  padding: 10px;
  background: #000;
  border: 6px solid #e32085;
  top: 30px;
  border-radius: 20px;
}
.profile a {
  padding: 8px 0px;
  color: white;
}
.userImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.userImage img {
  width: 60px;
  border-radius: 50%;
}
.relative {
  position: relative;
}
.userName {
  color: white;
  margin-top: 10px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.logout{
  background: #e32085;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  font-weight: bolder;
  margin-top: 10px;

}
.logout:hover{
  background: white;
}
