.location-heading{
    margin-bottom: 10px;
}


.choose-city,.book-now-address input{
    padding: 0 20px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    width: 30%;
    margin-bottom: 10px;
    background-color: rgba(227, 32, 133, 0.08);
    border-radius: 5px;
}
.book-now-address{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap:10px 20px;
}

.book-now-address input{
    width: 100%;
}

.choose-city:focus{
    outline: 2px solid rgba(227, 32, 133, 0.5);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(255, 92, 176, 0.7);
}

.location-btn-container{
    text-align: right;
}