.footer {
    letter-spacing: 0.5px;
    line-height: 21px;
    background: url("../../assets/Images/Footer Banner/footer.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 83vh;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
    padding: 7% 5%;
}

.footerLogo{
 width: 140px;
}
.footer-section1{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section2{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section3{
    width: 40%;
}
.footer-section3 input{
    border: none;
    padding: 10px;
    margin: 10px;
}
.submitBtn{
    width: 200px;
    display: block;
    background: var(--purple);
    color: white;
    font-weight: bold;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}
.submitBtn:hover{
    background: var(--pink);
}

.footer a {
    /* color:white; */
    color:black;
    font-size: 14px;
    /* font-weight: bold; */
    transition: all ease-in-out 200ms;
    margin: 4px 0;
}

.footer a:hover {
    color: #e32085;
    /* font-weight: bold; */
}

.link-container{
    display: flex;
    flex-direction: column;
}

.link-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color:#e32085;
}


.footer-end {
    text-align: center;
    margin-top: 60px;
    /* color: rgb(255, 255, 255); */
    font-weight: bold;
    color: rgb(0, 0, 0);
}