.footer {
    letter-spacing: 0.5px;
    line-height: 21px;
    background: url("../../assets/Images/Footer Banner/footer-2-modified.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 83vh;
    display: flex;
    justify-content: center;
    line-height: 35px;
    align-items: center;
    line-height: 35px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
}

.footer-container>* {
    align-self: flex-start;
}

.footer-section1 {
    width: 25%;
}

.footer-section1 img,
.footer-section2 img,
.footer-section3 img {
    width: 75px;
    height: 75px;
}

footer h3 {
    background: linear-gradient(to right, var(--pink), var(--purple));
    background-clip: text;
    color: transparent;
    width: fit-content;
    font-weight: 700;
    font-size: 22px;
}

.footer-logo-content {
    margin-top: 40px;
}

.footer-logo-content p {
    margin-bottom: 30px;
    line-height: 30px;
    color: rgb(107, 107, 107);
    letter-spacing: -.2px;
    font-weight: 600;
}

.footer-logo-content i {
    margin-top: 50px;
    margin-right: 20px;
    font-size: 18px;
    color: var(--pink);
}

.footer-section2 {
    width: 22%;
}

.footer-section2 a {
    color: rgb(107, 107, 107);
    letter-spacing: -.2px;
    font-size: 14px;
    transition: all ease-in-out 200ms;
    margin-bottom: 4px;
    cursor: pointer;
    font-weight: 600;
}

.footer-section2 a:hover {
    color: #e32085;
}

.footer-section3 {
    width: 40%;
}

.footer-section3 form {
    margin-top: 40px;
}

footer .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
}

.footer-section3 input,
.footer-section3 select,
.footer-section3 textarea {
    border: none;
    padding: 10px;
    border-radius: 5px;
    /* background: linear-gradient(to right, hsl(329, 48%, 51%, .9), hsl(309, 27%, 37%, .9)); */
    background: linear-gradient(to right, hsla(329, 78%, 95%, 0.95), hsla(309, 57%, 95%, 0.95));

}

.footer-section3 select option {
    color: black;
}

.footer-section3 input[type="submit"] {
    background: var(--pink);
    /* background: linear-gradient(to right, #f0017d61, #ad02936d); */

}

.footer-section3 input::placeholder,
.footer-section3 textarea::placeholder,
.footer-section3 select {
    color: rgb(116, 116, 116);
    font-size: 14px;
    font-weight: 500;
}

.footer-section3 input:focus,
.footer-section3 textarea:focus,
.footer-section3 select:focus {
    outline: 2px solid rgba(227, 32, 133, 0.5);

    box-shadow: 0px 0px 10px rgba(255, 92, 176, 0.7);
}

.input-container select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

footer textarea {
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;

}

.submitBtn {
    width: 150px;
    height: 50px;
    display: block;
    background: var(--purple);
    color: white;
    font-weight: bold;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.submitBtn:hover {
    background: var(--pink);
}

.footer-end {
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}