.footer{
    letter-spacing: 0.5px;
    line-height: 21px;
    background-image: url('../../assets//Images/footer1.avif');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    height: 400px;
}
.footer-background{
    background-color: #e320857c;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
}
.footer a{
    color:rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: bold;
}
.footer a:hover{
    color:black;
    font-weight: bold;
}
.link-container{
    display: flex;
    flex-direction: column;
}
.link-title{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: wheat;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
}
.footer-end{
    text-align: center;
    margin-top: 60px;
    color: white;
}