@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800&display=swap");

*{
  padding: 0;
  margin: 0;
}

:root {
  --pink: #e32085;
  --purple: #962986;
  --blue: #624896;
  --black: #000;
  --white: #fff;
}

a {
  font-weight: 500;
  text-decoration: none;
  cursor: url('./assets/Images/Cursor/brush3-01.png'), auto;
}


button {
  border: none;
  cursor: url('./assets/Images/Cursor/brush3-01.png'), auto;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  cursor: url('./assets/Images/Cursor/brush3-01.png'), auto;

}

.d-none {
  display: none !important;
}

.opacity-0{
  opacity: 0;
}

.opacity-1{
  opacity: 1;
}