@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800&display=swap');
:root {
--pink: #E32085;
--purple:#962986;
--blue:#624896;
--black:#000;
--white:#fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

button{
  border: none;
}

body{
  font-family: 'Raleway', sans-serif;
}