@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: #e32085;
  --lightPink: #ff359d;
  --purple: #962986;
  --blue: #624896;
  --black: #000;
  --white: #fff;
}

a {
  font-weight: 500;
  text-decoration: none;
  cursor: url("./assets/Images/Cursor/brush3-01.png"), auto;
}

button {
  border: none;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  cursor: url("./assets/Images/Cursor/brush3-01.png"), auto;
  overflow-x: hidden !important;
}

select,
textarea {
  font-family: "Raleway", sans-serif;
}

.d-none {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}
