.product-details-container {
  width: 70%;
  margin: 100px auto;
}

.product-details-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.product-img-container {
  display: flex;
  gap: 20px;
}

.product-img-container .images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-img-container .images img {
  height: 125px;
}

.product-img-container > img {
  height: 515px;
}

.product-img-container .selected-image {
  border: 1px solid black;
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.product-details-category {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.product-details-description {
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.808);
}
.productSteps {
  /* margin: 20px 10%; */
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.61);
  margin-top: 10px;
}

.product-price {
  font-weight: 500;
  color: var(--purple);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.product-details-container .product-rating {
  margin: 10px 0 20px;
}

.product-details-container .fa-star-o,
.product-details-container .fa-star {
  font-size: 16px;
  color: #e32085;
}

.product-details-container .add-to-cart{
  display: flex;
  align-items: center; 
  gap: 20px;
  margin-bottom: 30px;
}

.product-details-container .quantity {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.247);
  width: fit-content;
  padding: 5px 15px;
  height: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;

}

.product-details-container .quantity p{
  font-size: 18px;
}

.product-details-container .quantity button {
  background: none;
  display: flex;
  font-size: 14px;
}

.product-details-container .add-to-cart .buy-btn {
  padding: 0 15px;
  border-radius: 5px;
  background-color: var(--pink);
  color: white;
  font-weight: 500;
  font-size: 14px;
  transition: all ease-in-out 200ms;
  height: 35px;
}

.buy-btn:hover {
  background-color: var(--purple);
} 

.product-details-container .sku{
  margin-bottom: 10px;
}

.product-details-container .sku,
.product-details-container .tags{
  font-size: 15px;
}
