.homeServiceCard {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  padding: 40px 30px;
  position: relative;
  box-shadow: 0px 0px 10px #e3208556;
  border-radius: 60px 60px 60px 0;
  transition: all 200ms ease-in-out;
}
.homeServiceCard:hover {
  box-shadow: 0px 0px 20px #e3208585;
  scale: 100.5%;
}
.homeServiceCard img {
  width: 95%;
  height: 300px;
  margin: 20px auto;
  border-radius: 20px;
}
.home-service-title {
  font-weight: bold;
  font-size: 16px !important;
  margin-bottom: 10px;
}
.home-service-category {
  color: #962986;
  font-weight: bold;
  margin: 20px 0;
}

.home-service-desc {
  margin-bottom: 10px;
  /* color: white; */
}

.home-service-time {
  margin-bottom: 20px;
  color: #e32085;
}

.home-service-price {
  color: #e32085;
}
