.serviceCard {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  padding: 40px 30px;
  position: relative;
  box-shadow: 10px 10px 50px #e3208556;
  border-radius: 60px 60px 60px 0;
}
.serviceCard:hover {
  box-shadow: 5px 5px 40px #e320859c;
}
.serviceCard img {
  width: 95%;
  height: 300px;
  margin: 20px auto;
  border-radius: 20px;
}
.service-title {
  font-weight: bold;
  font-size: 16px !important;
  margin-bottom: 10px;
}
.service-category {
  color: #962986;
  font-weight: bold;
  margin: 10px 0;
}

.service-desc {
  margin-bottom: 10px;
  color: white;
}

.service-time {
  margin-bottom: 20px;
  color: #e32085;
}

.service-price {
  color: #e32085;
}
